#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.admin{
  max-width: 80%;
  padding-bottom: 1rem;
  background-color: rgb(84, 83, 83);
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  margin: 0 auto;

}
.protect{
  display: flex;
  gap: 1rem;
}

button {
 width: 5rem;
 background-color: rgb(57, 56, 56);
 border: solid 1px black;
}

.comp{
  /* display: flex; */
  /* flex-direction:row; */
  /* gap: 0.5rem; */
  /* justify-content: center; */
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(84, 83, 83);
  padding-bottom: 1rem;
}

h3{
  font-weight: 400;
  padding-top: 1rem;
}

input {
  height: 1rem;
  width: 4rem;
}

span{
  display: inline-block;
  margin: 0 0.5rem;
}
